version: '3'

services:
  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - VITE_API_URL=http://localhost:5000/api
      - NODE_ENV=development
    networks:
      - pokeleague
    command: npm run dev -- --host


  backend:
    build: ./backend
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
      - ../data:/app/data
    environment:
      - ALLOWED_ORIGINS=http://localhost:3000,https://crackeveryday.github.io
    networks:
      - pokeleague

networks:
  pokeleague:
    driver: bridge